In [2]:
import pandas as pd

In [13]:
df = pd.read_excel("/content/data.xlsx")

In [14]:
df.head()

,patient_id,Age,Sex,ECOG PS,Smoking PY,Smoking Status,Ds Site,Subsite,T,N,...,Cause of Death,Local,Date Local,Regional,Date Regional,Distant,Date Distant,2nd Ca,Date 2nd Ca,RADCURE-challenge
0,RADCURE-0005,62.6,Female,ECOG 0,50,Ex-smoker,Oropharynx,post wall,T4b,N2c,...,Other Cause,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
1,RADCURE-0006,87.3,Male,ECOG 2,25,Ex-smoker,Larynx,Glottis,T1b,N0,...,Other Cause,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
2,RADCURE-0007,49.9,Male,ECOG 1,15,Ex-smoker,Oropharynx,Tonsil,T3,N2b,...,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
3,RADCURE-0009,72.3,Male,ECOG 1,30,Ex-smoker,Unknown,NaN,T0,N2c,...,NaN,NaN,NaT,NaN,NaT,NaN,NaT,S (suspecious),2008-05-27,0
4,RADCURE-0010,59.7,Female,ECOG 0,0,Non-smoker,Oropharynx,Tonsillar Fossa,T4b,N0,...,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0

In [15]:
df.columns

Index(['patient_id', 'Age', 'Sex', 'ECOG PS', 'Smoking PY', 'Smoking Status',
       'Ds Site', 'Subsite', 'T', 'N', 'M ', 'Stage', 'Path', 'HPV',
       'Tx Modality', 'Chemo? ', 'RT Start', 'Dose', 'Fx', 'RT Tech',
       'Last FU', 'Status', 'Length FU', 'Date of Death', 'Cause of Death',
       'Local', 'Date Local', 'Regional', 'Date Regional', 'Distant',
       'Date Distant', '2nd Ca', 'Date 2nd Ca', 'RADCURE-challenge'],
      dtype='object')

In [16]:
#shape of the dataset
print(df.shape)

#total null values
print(df.isnull().sum().sum())

(3346, 34)
30581

In [17]:
# column wise null values
df.isnull().sum()

patient_id              0
Age                     0
Sex                     0
ECOG PS                 1
Smoking PY              5
Smoking Status          0
Ds Site                 0
Subsite               374
T                      12
N                      13
M                      14
Stage                  27
Path                    0
HPV                  1629
Tx Modality             0
Chemo?                  0
RT Start                0
Dose                    0
Fx                      0
RT Tech                 0
Last FU                 0
Status                  0
Length FU               0
Date of Death        2288
Cause of Death       2294
Local                2966
Date Local           2966
Regional             3157
Date Regional        3157
Distant              2933
Date Distant         2933
2nd Ca               2905
Date 2nd Ca          2907
RADCURE-challenge       0
dtype: int64

In [18]:
df['Smoking Status'].value_counts()

Ex-smoker      1290
Current        1139
Non-smoker      871
unknown          45
non-drinker       1
Name: Smoking Status, dtype: int64

In [19]:
# we have only one non drinker and that to in Smoking status, hence dropping it
df = df[df['Smoking Status'] != 'non-drinker']

In [10]:
df['Smoking Status'].value_counts()

Ex-smoker     1290
Current       1139
Non-smoker     871
unknown         45
Name: Smoking Status, dtype: int64

In [20]:
# Replace NA values in HPV column with Not tested
df['HPV'].fillna('No', inplace=True)

In [ ]:
df.isnull().sum()

In [23]:
df['M '].value_counts()

M0    3327
MX       2
M1       2
Name: M , dtype: int64

We can see that we have 99.8 % of the data is about M0 (Benign Tumor) we can drop the 4 rows which has MX and M1 and remove the entire column and add in the data description that everybody has M0(Benign Tumor).

In [24]:
df.drop('M ', axis=1, inplace=True)

In [25]:
df.shape

(3345, 33)

In [ ]:
# imbalanced categories might lead to biased predictions.
df['T'].value_counts()

**TODO**
Rename Path as Diagnosis type.

In [76]:
#Replace column name T to Tumor_size.
df = df.rename(columns={'T': 'tumor_size',"Smoking PY":"annual_packs_smoked",
                        "Path":"diagnosis_type","Ds Site":"cancer_site",
                        "Subsite":"cancer_subsite","Metastasis Status":"metastasis_status",
                        "Tx Modality":"treatment_type","RT Tech":"radio_therapy_type"})

In [69]:
# Currently the number of packs smoked is na for people with smoking status unknown
#Replacing them with 0.There are 5 such values
df['annual_packs_smoked'].fillna(0, inplace=True)

In [70]:
df['metastasis_status'].value_counts()

N0     1146
N2b     791
N2c     532
N1      344
N2      182
N3      170
N2a     125
N3b      28
N3a      13
NX        1
Name: metastasis_status, dtype: int64

In [71]:
df['cancer_subsite'].fillna('Unknown', inplace=True)

In [72]:
# The cancer site is Unknown for 374 values and null in cancer_subsite, hence made the cancer subsite also as unknwon.
df['cancer_subsite'].isnull().sum()

0

In [73]:
df.columns

Index(['patient_id', 'Age', 'Sex', 'ECOG PS', 'annual_packs_smoked',
       'Smoking Status', 'cancer_site', 'cancer_subsite', 'tumor_size',
       'metastasis_status', 'Stage', 'diagnosis_type', 'HPV', 'treatment_type',
       'Chemo? ', 'RT Start', 'Dose', 'Fx', 'RT Tech', 'Last FU', 'Status',
       'Length FU', 'Date of Death', 'Cause of Death', 'Local', 'Date Local',
       'Regional', 'Date Regional', 'Distant', 'Date Distant', '2nd Ca',
       'Date 2nd Ca', 'RADCURE-challenge'],
      dtype='object')

# can i put them into the standard category as mention in the website.

https://link.springer.com/article/10.1245/s10434-010-1362-z#:~:text=N%20categories%20(Table%202)%20have,or%20more%20positive%20lymph%20nodes.&text=Positive%20peritoneal%20cytology%20is%20classified,1).

NX Regional lymph node(s) cannot be assessed

N0 No regional lymph node metastasis

N1 Metastasis in 1 to 2 regional lymph nodes

N2 Metastasis in 3 to 6 regional lymph nodes

N3 Metastasis in 7 or more regional lymph nodes

We can drop the column "chemo?" as this data can be derived by the treatment_type columns.

In [75]:
df.drop('Chemo? ', axis=1, inplace=True)

In [77]:
df.drop('RADCURE-challenge', axis=1, inplace=True)

In [78]:
# we can drop the status column as ,we can get the information from the Date of death table , if dead we have date else alive

In [81]:
#shape of the dataset
print(df.shape)

#total null values
print(df.isnull().sum())

(3345, 31)
patient_id                0
Age                       0
Sex                       0
ECOG PS                   1
annual_packs_smoked       0
Smoking Status            0
cancer_site               0
cancer_subsite            0
tumor_size               12
metastasis_status        13
Stage                    27
diagnosis_type            0
HPV                       0
treatment_type            0
RT Start                  0
Dose                      0
Fx                        0
radio_therapy_type        0
Last FU                   0
Status                    0
Length FU                 0
Date of Death          2287
Cause of Death         2293
Local                  2966
Date Local             2966
Regional               3156
Date Regional          3156
Distant                2932
Date Distant           2932
2nd Ca                 2904
Date 2nd Ca            2906
dtype: int64

In [82]:
file_path = 'clean_step1_data.xlsx'

df.to_excel(file_path, index=False)